@CHARSET "utf-8";

.description{
	
}

@media only screen and (max-width: 3000px) {
	.category .subtitle{
		font-size:28px;
		margin-top:3%;
	}
}
@media only screen and (max-width: 1500px) {
	.category .subtitle{
		font-size:23px;
		margin-top:3%;
	}
}
@media only screen and (max-width: 1000px) {
	.category .subtitle{
		font-size:17px;
		margin-top:3%;
	}
}
@media only screen and (max-width: 500px) {
	.category .subtitle{
		font-size:13px;
		margin-top:3%;
	}
}
