.subcontent{
	width:80%;
	margin-left:auto !important;
	margin-right:auto !important;
	margin-top: 20px;
}

.col-left{
	width:20%;
	text-align:center;
}

.col-right{
	width:80%;
	text-align:center;
}