.subcontent{
	width:100%;
	margin-left:auto !important;
	margin-right:auto !important;
	margin-top: 10px;
	text-align:justify;
}

.col-left{
	width:20%;
	text-align:center;
}

.col-right{
	width:80%;
	text-align:justify;
}

.download{
	text-align:right;
}

.submit_btn{
	width:80px;
	margin-top:10px;
	margin-bottom:10px;
}

.discuss{
	margin-top:100px;
}

@media only screen and (max-width: 3000px) {
	.subtitle{
		font-size:25px;
		margin-top:10px;
		margin-bottom:50px;
	}
	
	.submit_btn{
		width:12%;
		margin-top:10px;
		margin-bottom:10px;
	}
}

@media only screen and (max-width: 1500px) {
	.subtitle{
		font-size:20px;
		margin-top:10px;
		margin-bottom:50px;
	}
	.submit_btn{
		width:10%;
		margin-top:10px;
		margin-bottom:10px;
	}
}

@media only screen and (max-width: 1000px) {
	.subtitle{
		font-size:15px;
		margin-top:10px;
		margin-bottom:50px;
	}
	.submit_btn{
		width:15%;
		margin-top:10px;
		margin-bottom:10px;
	}
}

@media only screen and (max-width: 500px) {
	.subtitle{
		font-size:10px;
		margin-top:10px;
		margin-bottom:50px;
	}
	.submit_btn{
		width:30%;
		margin-top:10px;
		margin-bottom:10px;
	}
}